@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    font-family: var(--font-family-sans-serif);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background-image: url(img/b.jpg);
    background-size: 136rem;
}

.navbar {
    background-color: var(--purple);
    padding: 3.2rem;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

.logo {
    align-items: center;
}


.logo img {
    width: 121px;
    height: 80px;
    margin: -3rem -40rem;
}

.headings {
    align-items: center;
    justify-content: center;
    margin-right: 54rem;
    margin-top: -.5rem;
}

.h1 {
    font-size: 20px;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: whitesmoke;
    text-decoration: none;
}

.h1:hover {
    color: #4a2b83;
    border-radius: 50px;
    background-color: white;
}

.special {
    color: #4a2b83;
    border-radius: 50px;
    background-color: white;
}

.heading {
    align-items: center;
    justify-content: center;
    margin-right: 41px;
    margin-top: -.5rem;
}

.h2 {
    font-size: 20px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    color: whitesmoke;
    text-decoration: none;
}

.h2:hover {
    color: #4a2b83;
    border-radius: 50px;
    background-color: white;
}

#menu-btn {
    display: none;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
}

.headings-1 {
    display: none;
    transform: translateX(-200rem);
    background-color: var(--white);
    background-size: 20rem;
}

.h4 {
    display: none;
    font-size: 22px;
    text-decoration: none;
    margin: 0rem 10rem;
    padding: 1.5rem;
}

.h4:hover {
    color: var(--purple);
}

.headings-1.active,
.h4.active {
    transform: translateX(0rem);
    background: transparent;
    background-size: 20rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .content {
    text-align: center;
    padding: 1rem;
}

.home .content h1 {
    font-size: 6rem;
    color: #fff;
}

.home .content h1 span {
    color: var(--red);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    width: 68rem;
    padding: 1rem 0;
}

.home .shape {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 13rem;
    background: url(../images/shape-bottom.png);
    background-size: 350rem 13rem;
    width: 100%;
    animation: animate 25s linear infinite;
}

.btn-primary {
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 250px;
    padding: 10px 2px;
    margin: 20px 190px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.btn:active,
.btn:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .btn {
        font-size: 24px;
        min-width: 196px;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 350rem;
    }
}

/* media queries */

@media (max-width:1302px) {
    .headings {
        align-items: center;
        justify-content: center;
        margin-right: 44rem;
        margin-top: -.5rem;
    }

    .h1 {
        font-size: 20px;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        color: whitesmoke;
        text-decoration: none;
    }


}

@media (max-width:1262px) {

    .headings {
        align-items: center;
        justify-content: center;
        margin-right: 44rem;
        margin-top: -.5rem;
    }

    .h1 {
        font-size: 20px;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        color: whitesmoke;
        text-decoration: none;
    }

}

@media (max-width:1251px) {

    .headings {
        align-items: center;
        justify-content: center;
        margin-right: 44rem;
        margin-top: -.5rem;
    }

    .h1 {
        font-size: 20px;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        color: whitesmoke;
        text-decoration: none;
    }

}

@media (max-width:1232px) {

    .headings {
        align-items: center;
        justify-content: center;
        margin-right: 24rem;
        margin-top: -.5rem;
    }

    .h1 {
        font-size: 20px;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        color: whitesmoke;
        text-decoration: none;
    }
}

@media (max-width:1002px) {

    .heading {
        display: none;
    }

    .headings {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    .headings-1.active,
    .h4.active {
        display: block;
        transform: translateX(0rem);
        background-color: var(--white);
        background-size: 20rem;
    }

    .headings-1 {
        display: block;
        transform: translateX(-200rem);
        background-color: var(--white);
        background-size: 20rem;
    }

    .h4 {
        display: block;
        font-size: 22px;
        text-decoration: none;
        margin: 0rem 50rem;
        padding: 1.5rem;
    }

}

@media (max-width:688px) {
    #menu-btn {
        display: block;
    }

    .headings-1.active,
    .h4.active {
        display: block;
        transform: translateX(0rem);
        background-color: var(--white);
        background-size: 20rem;
    }

    .headings-1 {
        display: block;
        transform: translateX(-200rem);
        background-size: 20rem;
    }

    .h4 {
        display: block;
        font-size: 22px;
        text-decoration: none;
        margin: 0rem 30rem;
        padding: 1.5rem;
    }

}

@media (max-width:468px) {
    #menu-btn {
        display: block;
    }

    .headings-1.active,
    .h4.active {
        display: block;
        transform: translateX(0rem);
        background-color: transparent;
        background-size: 20rem;
    }

    .headings-1 {
        display: block;
        transform: translateX(-200rem);
        background-color: var(--white);
        background-size: 20rem;
    }

    .h4 {
        display: block;
        font-size: 22px;
        text-decoration: none;
        color: black;
        margin: 0rem 10rem;
        padding: 1.3rem;
    }

}

@media (max-width:260px) {
    #menu-btn {
        display: block;
    }

    .headings-1.active,
    .h4.active {
        display: block;
        transform: translateX(0rem);
        background-color: transparent;
        background-size: 20rem;
    }

    .headings-1 {
        display: block;
        transform: translateX(-200rem);
        background-color: var(--white);
        background-size: 20rem;
    }

    .h4 {
        display: block;
        font-size: 22px;
        text-decoration: none;
        color: black;
        margin: 0rem 1rem;
        padding: 1.3rem;
    }

}